.multi-select-dropdown {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.multi-select-dropdown .dropdown-header {
  cursor: pointer;
  width: 100px;
  padding: 8px 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.multi-select-dropdown .dropdown-header .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.multi-select-dropdown .dropdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  max-height: 300px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 14px;
}

.multi-select-dropdown .dropdown-list li {
  padding: 4px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.multi-select-dropdown .dropdown-list li input {
  margin-right: 8px;
}

.multi-select-dropdown .dropdown-list li label {
  background: transparent;
}

.multi-select-dropdown .selected-item {
  color: #ff6e34;
}