.dashboard-header {
  padding: 12px;
  display: flex;
  justify-content: center;
}

.download-field {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 2px;
  gap: 10px;
  padding: 0px 12px 8px 12px;
}

.dashboard-container {
  padding: 14px;
  height: calc(100vh - 128px);
}

.download-button {
  transition: 0.5s ease;
  padding: 8px 16px;
  background: #ff6e34;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ff6e34;
}

.download-button:hover {
  color: #ff6e34;
  background: #fff;
}

.download-button:disabled,
.download-button:disabled:hover {
  background-color: #ccc;
  color: #fff;
  cursor: not-allowed;
  border: 1px solid #ccc;
}