@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-left 1s;
  padding: 9px 18px;
  background: rgba(0, 0, 0, 0.856);
}

.page-with-navbar {
  margin-left: 250px;
}

.theme-container {
  background: rgba(0, 0, 0, 0.856);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.012);
}

.loader-align {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loader-align img {
  height: 40px;
}

.error {
  color: crimson;
}

@media only screen and (max-width: 768px) {
  .page {
    height: calc(100% - 30px);
    top: 30px;
    position: relative;
  }
  .page-with-navbar {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 478px) {
  .App {
    height: 100%;
  }
}
